.Header {
  height: 80px;
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  width: 100%;
}

.Logo {
  float: left;
  margin: 15px;
  width: 50px;
  height: 50px;
}
ul {
  margin: 20px;
  float: left;
}

li {
  font-weight: 500;
  list-style: none;
  padding: 10px;
  display: inline;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

@media (max-width: 800px) {
  ul {
    float: right;
  }
}
