.Body {
  position: relative;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
.Body::after {
  content: "";
  display: block;
  height: 50px;
}

.Body::before {
  content: "";
  display: block;
  height: 80px;
}
